.create-form-page {
  width: 100%;
  box-sizing: border-box;
}
.create-form-container {
  width: 100%;
  max-width: 780px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 10px;
}
.options-container {
  margin-top: 20px;
}
.save-btn {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-font-color);
}
.save-btn:hover {
  filter: brightness(90%);
}
