.form {
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.fgt-container {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.fgt-div {
  font-weight: 500 ;
  cursor: pointer;
}
.fgt-div:hover {
  color: var(--link-color);
}
.modal-bottom-text {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
.inputBorder {
  border: 1px solid var(--tertiary-font-color);
  background-color: var(--primary-bg-color);
}
.inputBorder:focus {
  outline: none;
}
.errorText {
  color: red;
  margin: -10px 0 -5px 0;
  text-align: center;
  font-size: 12px;
}
.errorInput {
  border: 1px solid red;
  box-shadow: 0 0 10px -5px red;
  background-color: var(--error-bg-color);
}
.errorInput:focus {
  outline: none;
}
.modal-bottom-text span {
  font-weight: 600;
  color: var(--link-color);
  cursor: pointer;
}
.modal-bottom-text span:hover {
  text-decoration: underline;
}