/* @import url("https://fonts.googleapis.com/css2?family=Sen&family=Space+Grotesk:wght@400;500;600;700&display=swap"); */

:root {
  --primary-font-color: black;
  --secondary-font-color: white;
  --tertiary-font-color: rgb(80, 80, 80);
  --primary-bg-color: white;
  --secondary-bg-color: #3778fa;
  --tertiary-bg-color: rgb(230, 230, 230);
  --link-color : #3778fa;
  --shadow-color : rgba(0,0,0,0.4);
  --error-bg-color : rgba(255,180,180,0.2);
}
[data-theme="dark"] {
  --primary-font-color: white;
  --secondary-font-color: white;
  --tertiary-font-color: rgb(175, 175, 175);
  --primary-bg-color: black;
  --secondary-bg-color: #232323;
  --tertiary-bg-color: rgb(25, 25, 25);
  --link-color : #3778fa;
  --shadow-color : rgba(255,255,255,0.2);
  --error-bg-color : rgba(70,0,0,0.2);
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  src: url("../public/fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 300;
  src: url("../public/fonts/SpaceGrotesk-Light.ttf");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  src: url("../public/fonts/SpaceGrotesk-Medium.ttf");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 600;
  src: url("../public/fonts/SpaceGrotesk-SemiBold.ttf");
}
@font-face {
  font-family: "Space Grotesk";
  font-weight: 700;
  src: url("../public/fonts/SpaceGrotesk-Bold.ttf");
}
body {
  margin: 0px;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  user-select: none;
  -webkit-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-close div {
  animation: modal-close-animation 150ms ease-in-out forwards;
  -webkit-animation: modal-close-animation 150ms ease-in-out forwards;
}

@keyframes modal-close-animation {
  0% {
    top: calc((100% - 450px) / 2);
    opacity: 1;
  }
  50% {
    top: calc((100% - 450px) / 2 + 50px);
    opacity: 0.8;
  }
  100% {
    top: -300px;
    opacity: 0.2;
  }
}
