.footer_container {
  box-sizing: border-box;
  width: 100%;
  padding: 60px 10px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: var(--secondary-bg-color);
  color: white;
}
.footer {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 10px;
}

.container__1 {
  display: flex;
  flex-direction: row;
}
.container__1 .mascot {
  width: 50%;
  font-weight: 600;
  font-size: 60px;
  color: var(--secondary-font-color);
  user-select: none;
  -webkit-user-select: none;
}
.container__1 .community {
  width: 50%;
  padding: 15px;
  font-weight: 400;
  color: var(--secondary-font-color);
  font-size: 16px;
}
.community div {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  padding-right: 20px;
}
.themeBtn {
  cursor: pointer;
  margin-top: 20px;
  user-select: none;
}
.footer_rulling {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 60px 10px;
}

.container__2 {
  display: flex;
  justify-content: space-between;
}
.container__2 .branding {
  width: 30%;
}
.container__2 .branding h5 {
  font-size: 22px;
  font-weight: 700;
  margin-top: -10px;
  user-select: none;
  -webkit-user-select: none;
}
.container__2 .brand_details {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.options ul, .social ul {
  list-style: none;
}
.options ul li, .social ul li {
  padding-bottom: 5px;
  cursor: pointer;
}
.options ul li:hover, .social ul li:hover {
  text-decoration: underline;
}
.bottom_text {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin-top: 60px;
}

@media screen and (max-width: 876px) {
  .container__1 .mascot {
    font-size: 45px;
  }
  .container__1 .community {
    padding: 0px;
  }
}


@media screen and (max-width: 500px) {
  .container__1 {
    flex-direction: column;
    justify-content: center;
  }
  .container__1 .mascot {
    font-size: 50px;
    width: 100%;
  }
  .container__1 .community {
    font-size: 14px;
    padding: 15px 0;
    width: 100%;
  }
  .footer_rulling {
    margin: 40px 10px;
  }
  .container__2 {
    flex-direction: column;
    justify-content: center;
  }
  .container__2 .branding {
    width: 100%;
    text-align: center;
  }
  .container__2 .branding p {
    margin: 0 40px;
  }
  .container__2 .brand_details {
    justify-content: space-around;
    margin-top: 25px;
  }
}