.question-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  background-color: var(--primary-bg-color);
  border-radius: 20px;
  width: 90%;
  padding: 20px;
  margin: 10px;
}

.question-box .question {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.question .paragraph {
  width: 90%;
}
.question .expand-btn {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 200ms;
}
.question .expand-btn:hover {
  background-color: var(--tertiary-bg-color);
}
.expand-btn i {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.cross {
  transform: rotate(135deg);
}
.question-box .answer {
  color: var(--tertiary-font-color);
}
.hidden {
  display: none;
}
@media screen and (max-width: 500px){
  .question-box {
    width: 85%;
  }
  .question-box .question {
    font-size: 16px;
    font-weight: 600;
  }
  .question .paragraph {
    width: 100%;
  }
  .question .expand-btn {
    display: none;
  }
}